<div class="about">
    <h1>About Me</h1>
    <p>I have been working as a Full Stack Developer for X years...</p>
    <h2>Skills</h2>
    <ul>
        <li>Angular</li>
        <li>Typescript</li>
    </ul>
    <a href="assets/my-resume.pdf" download>download My Resume</a>

    <fieldset><legend><div class="styles_question-container__2NNxh"><div class="styles_base__3mUYw"><span><p>Three clocks exist in a room:</p>
        <ul>
        <li>The round clock is 10 minutes behind the actual time</li>
        <li>The rectangular clock is 5 minutes after the actual time</li>
        <li>The squared clock is 5 minutes slower than the round clock</li>
        </ul>
        <p>The time now on the squared clock is 08:05, what is the time now on the rectangular clock?</p>
        </span></div></div></legend><div class="styles_answers-container__B-Xn0"><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--08:25" class="vds-radio__input" id="08:25" name="answer" type="radio" value="2" data-gtm-form-interact-field-id="2"><label id="vds-radio--label--08:25" class="vds-radio__label" for="08:25"><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>08:25</p>
        </span></div></span></label></div></div><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--08:20" class="vds-radio__input" id="08:20" name="answer" type="radio" value="3"><label id="vds-radio--label--08:20" class="vds-radio__label" for="08:20"><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>08:20</p>
        </span></div></span></label></div></div><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--08:30" class="vds-radio__input" id="08:30" name="answer" type="radio" value="0" data-gtm-form-interact-field-id="0"><label id="vds-radio--label--08:30" class="vds-radio__label" for="08:30"><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>08:30</p>
        </span></div></span></label></div></div><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--08:15" class="vds-radio__input" id="08:15" name="answer" type="radio" value="1"><label id="vds-radio--label--08:15" class="vds-radio__label" for="08:15"><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>08:15</p>
        </span></div></span></label></div></div></div><div class="styles_base__2DhGB styles_center__1IkRJ"><div aria-label="Loading…" class="vds-loading vds-loading--md" role="status"><div class="vds-loading__children"><button class="vds-button vds-button--primary" type="submit"><span class="vds-button__content">Next</span></button></div></div></div></fieldset>

        <fieldset><legend><div class="styles_question-container__2NNxh"><div class="styles_base__3mUYw"><span><p>Consider the following three statements</p>
            <ul>
            <li>Every bird that flies is green</li>
            <li>No Weedle is green</li>
            <li>Some Weedles are birds</li>
            </ul>
            <p>If all of these statements are true, what else must be true?</p>
            </span></div></div></legend><div class="styles_answers-container__B-Xn0"><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--No Weedle flies.
            " class="vds-radio__input" id="No Weedle flies.
            " name="answer" type="radio" value="0" data-gtm-form-interact-field-id="0"><label id="vds-radio--label--No Weedle flies.
            " class="vds-radio__label" for="No Weedle flies.
            "><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>No Weedle flies.</p>
            </span></div></span></label></div></div><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--All Weedles are birds." class="vds-radio__input" id="All Weedles are birds." name="answer" type="radio" value="2" data-gtm-form-interact-field-id="2"><label id="vds-radio--label--All Weedles are birds." class="vds-radio__label" for="All Weedles are birds."><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>All Weedles are birds.</p>
            </span></div></span></label></div></div><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--All Weedles are blue." class="vds-radio__input" id="All Weedles are blue." name="answer" type="radio" value="3"><label id="vds-radio--label--All Weedles are blue." class="vds-radio__label" for="All Weedles are blue."><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>All Weedles are blue.</p>
            </span></div></span></label></div></div><div class="styles_answer__2MNJX"><div class="vds-radio"><input aria-labelledby="vds-radio--label--No flying birds are Weedles." class="vds-radio__input" id="No flying birds are Weedles." name="answer" type="radio" value="1" data-gtm-form-interact-field-id="3"><label id="vds-radio--label--No flying birds are Weedles." class="vds-radio__label" for="No flying birds are Weedles."><span class="styles_answer__2MNJX"><div class="styles_base__3mUYw"><span><p>No flying birds are Weedles.</p>
            </span></div></span></label></div></div></div><div class="styles_base__2DhGB styles_center__1IkRJ"><div aria-label="Loading…" class="vds-loading vds-loading--md" role="status"><div class="vds-loading__children"><button class="vds-button vds-button--primary" type="submit"><span class="vds-button__content">Next</span></button></div></div></div></fieldset>
</div>